.footer{
    border-top: 2px solid grey;
    margin-top: 630px;
    padding: 2px;
    background-color: #f1f1f1;
    text-align: center;
}

.footer>p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}